<app-card
  title="Your Todos"
  subtitle="Stay organized and productive with your daily tasks"
>
  <div card-content>
    <div class="todo-form">
      <form
        [formGroup]="newTodoForm"
        (ngSubmit)="addTodo()"
      >
        <input
          type="text"
          formControlName="title"
          placeholder="Add a new task"
          class="form-input"
          [class.error]="newTodoForm.get('title')?.invalid && newTodoForm.get('title')?.touched"
        >
        <button
          type="submit"
          class="submit-btn"
          [disabled]="newTodoForm.invalid"
        >Add Todo
        </button>
      </form>
    </div>

    <div
      *ngIf="isLoading"
      class="loading-state"
    >
      <p>Loading todos...</p>
    </div>

    <div
      *ngIf="!isLoading && todos.length === 0"
      class="empty-state"
    >
      <h2>No tasks found</h2>
      <p>You're all caught up! Enjoy your day.</p>
    </div>

    <div class="todo-list-container">
      <ul
        *ngIf="!isLoading && todos.length >0"
        class="todo-list"
      >
        <li *ngFor="let todo of todos">
          <app-todo-item
            [todo]="todo"
            (toggle)="toggleTodo($event)"
            (delete)="deleteTodo($event)"
          />
        </li>
      </ul>
    </div>
  </div>
</app-card>